
<table>
	<tr>
		<td>{{ form.title }}</td>
		<td>{{ form.field_first_name }}</td>
	</tr>
	<tr>
		<td colspan="2">{{ form.body }}</td>
	</tr>
	<tr>
		<td>{{ form.field_image }}</td>
		<td>{{ form.field_tags }}</td>
	</tr>
	<tr>
		<td colspan="2">{{ form.actions }}</td>
	</tr>	
</table>







        




